/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*============================
============Начало============
============================== */
body{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	background-color:#fff;
	color: #494949;
	margin: 0;
}
main{
	margin: 0;
}
.container{
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 15px;
}
h1{
	display: none;
}
/*============================
============Header============
============================== */
header{
	padding-top: 44px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1130px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 38px;
	border-bottom: 1px solid #fff;

}
.menu__list{
	display: flex;
	margin: 0 0;
	flex-flow: row wrap;
}
.menu__item{
	width: 112px;
	height: 55px;
	text-align: center;
	border-radius: 4px;
	padding-top: 20px;
	transition: background-color .2s linear;
	font-size: 17;
	text-transform: uppercase;
	font-weight: 600;
}
.menu__item a{
	color: #fff;
}

.menu__item:hover{
	background-color: rgba(76,163,230,0.8);
}
/* Burger menu */
.burger{
	display: none;
	margin-right: 8%;
	margin-top: 2%;
	width: 60px;
	height: 40px;
	cursor: pointer;
	position: relative;
}
.burger__line{
	display: block;
	width: 100%;
	height: 4px;
	background-color: #000;
	position: absolute;
	left: 0;
	transition: .3s all linear;
}
.burger__line1{
	top: 0;
}
.burger__line2,.burger__line3{
	top: 50%;
	transform: translateY(-50%);
}
.burger__line4{
	bottom: 0;
}
.burger_active .burger__line1,.burger_active .burger__line4{
	opacity: 0;
}
.burger_active .burger__line2{
	transform: translateY(-50%) rotate(45deg);
}
.burger_active .burger__line3{
	transform: translateY(-50%) rotate(-45deg);
}
.burger-menu{
	position: fixed;
	top: 130px;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 100;
	display: flex;
	transition: 0.3s;
}
.open{
	left: 0;
}
.burger-menu__item a{
	font-size: 26px;
	color:#7c7c7c;
}
.burger-menu__inner{
	height: calc(100vh - 145px);
}
.burger-menu-list{
	width: 100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.hide__color{
	background-color: #42a8f6;
}
.slide_prevent{
	overflow: hidden;
}
.hide{
	background:none;
	
}
/*============================
=============Intro============
============================== */
.intro{
	background: url(img/header.jpg) left top no-repeat ;
	background-size: cover;
	padding-top:400px;
	padding-bottom: 204px;
}
.intro__inner{
	max-width: 504px;
}
.intro__title{
	font-size: 40px;
	color: #fff;
	margin-bottom: 44px;
}
.intro__subtitle{
	font-size: 26px;
	line-height: 40px;
	color: #fff;
	margin-bottom: 70px;
	
}.btn__item{
	width: 242px;
	height: 82px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgba(79,158,219,0.7);
	color: #fff;
	transition: background-color .2s linear, color .2s linear;
}
.intro__btn{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.btn__item1{
	background-color: #fff;
	color: black;
	padding-left: 30px;
	position: relative;
}
.btn__item1::before{
	content: "";
	width: 30px;
	height: 32px;
	display: block;
	background-image: url(/img/google_play.png);
	position: absolute;
	top: 26px;
	left: 32px;
}
.btn__item1:hover{
	background-color: rgba(79,158,219,0.7);
	border: 4px solid #fff;
}
.btn__item2:hover{
	background-color: #fff;
	color: #000;
}
/*============================
============Service============
============================== */
.service__title{
	margin: 0 auto;
	width: 195px;
	text-align: center;
	position: relative;
	margin-bottom: 120px;
}
.service__head{
	font-size: 18px;
	color: #9f9f9f;
	margin-bottom: 16px;
	margin-top: 56px;
}
.service__subtext{
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
}
.service__title::after{
	content: "";
	display: block;
	width: 31px;
	height: 2px;
	background-color: #2eb0ec;
	position: absolute;
	top: 80px;
	left: 85px;
}
.services{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.services__item{
	text-align: center;
	width: 25.33%;
	margin-bottom: 169px;
}
.services__image{
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
.services__title{
	margin: 44px 0;
	font-size: 18px;
	font-weight: bold;
}
/*============================
============Features==========
============================== */
.features{
	max-height: 790px;
	background:url(img/feature_background.jpg) center no-repeat;
	background-size: cover; 
}
.features__inner{
	padding: 114px 0;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.features__content,
.features__img{
	width: 50%;
}
.features__content{
	padding-left: 10px;
}
.features__img{
	overflow: hidden;
}
.feature__suptitle{
	font-size: 22px;
	margin-bottom: 25px;
}
.feature__title{
	font-size: 32px;
	color: #000;
	margin-bottom: 35px;
}
.feature__subtitle{
	font-size: 20px;
	margin-bottom: 58px;
}
.feature__item{
	font-size: 14px;
	margin: 28px 0;
	display: block;
}
.feature__item::before{
	content:"";
	display:inline-block;
	background: url(img/bullet_point.png);
	width: 20px;
	height: 20px;
	margin-bottom: -6px;
	margin-right: 20px;
}
.feature__btn{
	margin-top: 39px;
	width: 151px;
	height: 50px;
	border-radius: 49px;
	background-color: #66d4f4;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	transition: background-color .2s linear ;
}
.feature__btn:hover{
	background-color: #000;
}
/*============================
============Reviews==========
============================== */
.Review{
	background: url(img/Reviews_back.jpg) center no-repeat;
	background-size: cover;
	padding-top: 49px;
	padding-bottom: 162px;
}
.Review__suptitle{
	font-family: 'Roboto Slab';
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #7c7c7c;
	text-align: center;
	margin-bottom: 10px;
}
.Review__title{
	font-family: 'Roboto Slab';
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.Review__title:after{
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	background-color: #2eb0ec;
	margin: 22px auto 73px auto;
}

.Review__item{
	max-width: 730px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 45px;
	min-width: 0;
	border: 1px solid rgba(0,0,0,0.07);
	box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.07);
	border-radius: 10px;
}
.Review__item-photo{
	margin-top: -45px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.Review__item-name{
	padding-top: -29px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
}
.Review__item-proffesion{
	font-size: 15px;
	line-height: 30px;
	font-weight: 500;
	color: #7c7c7c;
	text-align: center;
	margin-bottom: 46px;
}	
.Review__item-text{
	display: block;
	max-width: 575px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #7c7c7c;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 109px;
}
/* Slider */
.slick-slide{
	flex-basis: 730px;
}
.slick-track{
	display: flex;
}
.slick-list{
	overflow: hidden;
}
.slick-arrow{
	display: none;
	font-size: 0;
	background-color: transparent;
}
.Review__list .slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
}
.Review__list .slick-dots li{
	list-style: none;
}
.Review__list .slick-dots button{
	background-color: #fff;
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 10px;
}
.Review__list .slick-dots li.slick-active button{
	background-color: #000;
	border: 2px solid white;

}
/*============================
============Resourse==========
============================== */
.resourse{
	padding-top: 179px;
}
.resourse__inner{
	display: flex;
	align-items: top;
	flex-wrap: wrap;
}
.resource__text,
.resourse__animation{
	width: 50%;
}
.resourse__animation1{
	width: 100%;
	display: block;
}



.resourse__suptitle{
	opacity: 0.4;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}
.resourse__title{
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 30px;
}
.resourse__subtitle{
	font-size: 20px;
	color: #7c7c7c;
	margin-bottom: 35px;
}
.resourse__main{
	font-size: 14px;
	color: #7c7c7c;
	margin-bottom: 166px;
}
/*============================
============Pricing Plan======
============================== */
.pricing{
	background: #f4fbfc url(img/pricing-bg.jpg) center bottom no-repeat;
	background-size:cover;
	padding-top: 68px;
	position: relative;
}
.wrap__background{
	background:rgba(180,251,252,0.1);
}
.pricing-suptitle{
	font-family: 'Roboto Slab';
	font-size: 18px;
	font-weight: 400;
	color: #7c7c7c;
	text-align: center;
	margin-bottom: 15px;
}
.pricing h2{
	display: block;
	font-family: 'Roboto Slab';
	font-size: 24px;
	font-weight: 700;
	max-width: 170px;
	text-transform: uppercase;
	position: relative;
	margin: 0 auto;
	margin-bottom: 148px;
}
.pricing h2:after{
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	background-color: #2eb0ec;
	position: absolute;
	top: 40px;
	left: 75px;
}
.pricing-list{
	display: flex;
}
.pricing-item{
	width: 33.3333%;
	margin: 0 21px;
	background:#fff url(img/pattern.jpg) center top no-repeat;
	background-size:contain;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,0.03);
	box-shadow: 0px 0px 51px -1px rgba(92,149,161,0.33);
	transition: transform .3s linear;
	margin-bottom: 150px;
}
.pricing-item:hover{
	transform: scale(1.04,1.04);
}
.pricing-item:first-child{
	margin-left: 0;
}
.pricing-item:last-child{
	margin-right: 0;
}
.pricing-item__img{
	display: block;
	margin: 56px auto 59px auto;
}
.pricing-item h3{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 19px;
}
.pricing-item__price{
	max-width: 165px;
	margin: 0 auto;
	margin-bottom: 48px;
}
.pricing-item__price-value{
	font-size: 20px;
	line-height: 1.2;
	color: #2eb0ec;
	background-image: linear-gradient(34.0deg, #6af4f9 -10%, #2eb0ec 111%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.pricing-item__price-num{
	background-image: linear-gradient(34.0deg, #6af4f9 -10%, #2eb0ec 111%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-size: 80px;
	font-weight: 800;
	color: #2eb0ec;
}
.pricing-item__price-date{
	background-image: linear-gradient(34.0deg, #6af4f9 -10%, #2eb0ec 111%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-size: 22px;
}
.pricing-item__price-num,
.pricing-item__price-date,
.pricing-item__price-value{
	display: inline-block;
}
.pricing-item__pref{
	margin-bottom: 51px;
}
.pricing-pref__item{
	color: #bebebe;
	line-height: 32px;
	text-align: center;
}
.pricing-pref__item-active{
	font-size: 14px;
	color: #7c7c7c;
}
.pricing-item__button{
	display: block;
	max-width: 150px;
	height:50px;;
	background-color: #66d4f4;
	border-radius: 25px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 19px;
	margin-bottom: 47px;
	transition:background-color .2s linear;
}
.pricing-item__button:hover{
	background-color:#494949;
}
/*============================
============Newsletter========
============================== */
.newsletter{
	padding-top: 69px;
	border-bottom:1px solid #dfdfdf;
}
.newsletter-suptitle{
	font-family: 'Roboto Slab';
	font-size: 18px;
	font-weight: 400;
	color: #7c7c7c;
	text-align: center;
}
.newsletter-title{
	display: block;
	font-family: 'Roboto Slab';
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #494949;
	max-width: 200px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 91px;
}
.newsletter-title::after{
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	background-color: #2eb0ec;
	position: absolute;
	top: 40px;
	left: 90px;
}
.newsletter span{
	display: block;
	max-width: 370px;
	margin: 0 auto;
	margin-bottom: 26px;
}
.newsletter-username,
.newsletter-user-email
{
	width: 100%;
	height: 75px;
	border: 1px solid rgba(0,0,0,0.02);
	box-shadow: 0px 8px 16px 0px rgba(92,149,161,0.07);
	border-radius: 37.5px;
	padding: 0 40px;
	font-size: 17px;
	background-color: #f5fafa;
	transition: background-color .2s linear;
}
.newsletter-username:hover{
	background-color: #fff;
}
.newsletter-user-email:hover{
	background-color: #fff;
}
.newsletter-button{
	width: 100%;
	height: 75px;
	border: 1px solid rgba(0,0,0,0.02);
	box-shadow: 0px 8px 16px 0px rgba(92,149,161,0.07);
	border-radius: 37.5px;
	padding: 0 40px;
	font-size: 17px;
	background-color: #66d4f4;
	transition: background-color .2s linear;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color:#fff;
	margin-bottom: 110px;
}
.newsletter-button:hover{
	background-color: #494949;
}
.email__warning{
	text-align: center;
	margin-bottom: 10px;
	margin-top: -15px;
	color:rgb(232, 77, 77);
	display: none;

}
/*============================
============Footer========
============================== */
footer{
	padding-top: 53px;
}
.footer__inner{
	display: flex;
	border-bottom: 1px solid #dfdfdf;
}
.footer__info,
.footer__link,
.footer__goods,
.footer__elements,
.footer__about{
	width: 20%;
	margin-bottom: 84px;
}
footer h2{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 35px;
}
.footer-item{
	color: #7c7c7c;
	line-height: 28px;
}
.footer__info-logo{
	margin-bottom: 22px;
}
.footer__info-text{
	color: #7c7c7c;
}
.footer__info{
	margin-right: 117px;
}
.footer-info__media{
	display: flex;
	height: 30px;
}
.facebook__image,
.twitter__image,
.linkedin__image{
	width: 15px;
	height: 15px;
	fill:#fff;
}
.facebook:hover,
.twitter:hover,
.linkedin:hover{
	background-color: #494949;
}
.facebook,
.twitter,
.linkedin{
	display: flex;
	width: 30px;
	height: 30px;
	background-color:#494949;
	border-radius:15px;
	align-items: center;
	justify-content: center;
	margin: 23px 5px 0 5px;
	transition: background-color .1s linear;
	flex-shrink: 0;
}
.facebook{
	background-color: #3b579d;
}
.twitter{
	background-color: #55acee;
}
.linkedin{
	background-color: #0e76a8;
}
.signature{
	display: flex;
}
.signature p{
	color: #7c7c7c;
	margin: 40px 0 43px 0;
	padding: 0 10px 0 10px;
	border-right: 1px solid #7c7c7c;
}
.signature p:last-child{
	border-right:none;
}





@media screen and (max-width:768px) {
	.menu__list{
		display: none;
	}
	.burger{
		display: block;
	}
	.resource__text,
	.resourse__animation{
		width: 100%;
	}
	.resourse__inner{
		font-weight: wrap;
	}
	.pricing-list{
		flex-wrap: wrap;
	}
	.pricing-item{
		width: 100%;
	}
	.footer__info,
	.footer__link,
	.footer__elements,
	.footer__about{
		width: 50%;
		margin: 0;
	}
	.footer__goods{
		display: none;
	}
	.footer__inner{
		flex-wrap: wrap;
	}
	.Review__item{
		box-shadow:none;
	}
}
@media screen and (max-width:575px){
	.feature__title{
		font-size: 25px;
	}
	.features__inner{
		padding-top: 5px;
	}
	.intro{
		padding-top:310px;
		color:#494949;
	}
	.intro__btn{
		justify-content: center;
	}
	.btn__item{
		width: 70%;
		margin:20px 0 20px 0;
	}
	.service__head{
		margin-top: 10px;
	}
	.service__title{
		margin-bottom: 50px;
	}
	.pricing-item:first-child{
		margin-left: 21px;
	}
	.pricing-item:last-child{
		margin-right: 21px;
	}
	.pricing-item{
		margin-bottom: 10px;
	}
	.pricing h2{
		margin-bottom: 40px;
		word-wrap: none;
	}
	.features__img{
		display: none;
	}
	.features__inner{
		justify-content: center;
		padding: 15px 0;
	}
	.feature__btn{
		margin-top: 10px;
	}
	.services__item{
		margin-bottom: 80px;
	}
	.resourse{
		padding-top: 50px;
	}
	.resourse__main{
		margin-bottom: 20px;
	}

}
@media screen and (max-width:375px){
	.services__item{
		width: 100%;
	}
}